<% provide :title, t("title.help")%>
<h1><%= t("title.header")%></h1>
<p>
  <%= t("user.help.gethelpform")%>
  <a href="https://guides.rubyonrails.org/command_line.html#bin-rails-dbconsole">
    <%= t("user.help.linkgethelp")%>
  </a>
  <%= t("user.help.getsplapp")%>
  <a href="">
    <%= t("user.help.linkbook")%>
  </a>
</p>
