<% provide :title, t("title.home")%>
<div class="center jumbotron">
  <h1><%= t("user.home.wellcomheader") %></h1>
  <h2><%= t("user.home.pagefor")%>
    <a href=""><%= t("user.home.projectname")%></a>
    <%= t("user.home.simpleapp")%>
  </h2>
  <%= link_to t("user.home.singupnow"),sign_up_path ,class: "btn btn-lg btn-primary"%>
</div>
